// medias
$medias: (1920px, 1600px, 1440px, 1200px, 1024px, 992px, 768px, 576px, 360px);

// containers
$container-max-width: (1400px, 1200px, 1100px, 1000px, 900px, 100%, 100%, 100%, 100%);

// margin of each containers
$container-margin: (auto, auto, auto, auto, auto, 40px, 30px, 20px, 20px);

